<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.DialogflowBot">
        <activity
            android:name=".activities.CommunityPage"
            android:exported="false" />
        <activity
            android:name=".activities.ArticlesPage"
            android:exported="false" />
        <activity
            android:name=".activities.VisualsPage"
            android:exported="false" />
        <activity
            android:name=".activities.CalmingSoundPage"
            android:exported="false" />
        <activity
            android:name=".activities.SleepMeditation"
            android:exported="false" />
        <activity
            android:name=".activities.MeditationPage"
            android:exported="false" />
        <activity
            android:name=".activities.HomePage"
            android:exported="false" />
        <activity
            android:name=".activities.CompletedTaskPage"
            android:exported="false" />
        <activity
            android:name=".activities.EditProfilePage"
            android:exported="false" />
        <activity
            android:name=".activities.AddEditNote"
            android:exported="false" />
        <activity
            android:name=".activities.TaskPage"
            android:exported="false" />
        <activity
            android:name=".activities.NotePage"
            android:exported="false" />
        <activity
            android:name=".activities.LogoutPage"
            android:exported="false" />
        <activity
            android:name=".activities.ProfilePage"
            android:exported="false" />
        <activity
            android:name=".activities.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".activities.UserRegisterPage"
            android:exported="false" />
        <activity
            android:name=".activities.UserLoginPage"
            android:exported="false" />
        <activity
            android:name=".activities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>